body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: rgb(165, 208, 168);
  text-align: center;
  border: double    4px rgb(75, 74, 103);;
    cursor: pointer;
}



Pallet {
color: rgb(247, 178, 103);}
pallet2 {
color: rgb(165, 208, 168)}
pallet3 {
color: rgb(75, 74, 103)}
pallet4 {
color: rgb(224, 186, 215)}
pallet5 {
color: rgb(0, 168, 232)}





#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    font-weight: bold;


    background-color: rgb(247, 178, 103);
    border: solid 3px black ;
    text-decoration: none;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: flex-start;


}

#navbar a{
    text-decoration: none;
    color: black;
    }


#navbar a:hover {

    color: rgb(0, 168, 232);
}


#companyname    {
    min-width: 80%;
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
}


#next   {
    display: flex;
    justify-content: space-evenly;
    min-width: 20%;
    max-width: 20%;
}

#greece { margin-right: 15px;}

#buff{
min-height: 25px;
max-height: 25px;

}

h1 {
text-decoration: underline;

}

img {border: solid 2px rgb(75, 74, 103);}

#centerimg {
    /* border: dashed 3px red; */
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}



#map    {width: 500px;
height: 500px;
border: solid 5px black;
}

@media (max-width: 600px) {
    .img { max-width: 550px;
            max-height: 400px;
    }
}

@media (max-width: 550px) {
    .img { max-width: 500px;
            max-height: 350px;
    }
}

@media (max-width: 500px) {
    .img { max-width: 450px;
            max-height: 300px;
    }
}

@media (max-width: 500px) {
    #navbar {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

}

@media (max-width: 1200px) {
        #centerimg {
            display: flex;
            /* flex-direction: column; */
            flex-wrap: wrap;
        }


}

#titleimg {


}

#img1 {
    object-fit: contain;
    height: 100%; width: 100%;
    /* max-width: 30%; */
    /* min-width: 30%; */
}


#img2 {
    object-fit: contain;
    height: 100%; width: 100%;
    /* max-width: 30%; */
    /* min-width: 30%; */
}

#img3 {
    object-fit: contain;
    height: 100%; width: 100%;
    /* max-width: 30%; */
    /* min-width: 30%; */
}



#centertxt {
    /* border: solid 3px grey; */
    display: flex;
    justify-content: center;
    

}

#ctxt1 {
    width: 91.4%;
    border: solid 3px rgb(75, 74, 103);
}


#f {min-height: 50px;
 max-height: 50px;

 height: 20px;
 width: 36;
 border-radius: 10px;

background-color: rgb(165, 208, 168);
transition: background-color 0.3s;
transition: box-shadow 0.3;
}


#f:hover {
    background-color: rgb(224, 186, 215);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

}

#f:active {
    opacity: 0.5;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    


    background-color: rgb(247, 178, 103);
    display: flex;
    justify-content: space-evenly;

        }

        #footer a{ text-decoration: none;
            color: black;

        }   

        #footer a:hover { color: rgb(0, 168, 232);

        }

        #about { 
            display: flex;
            justify-content: end;
            flex-direction: row-reverse;
            margin-top: 20px;
            margin-left: 20px;
        }

/* #calendar {max-width: 1000px; */
        /* max-height: 1000px;} */

        /* #calender { max-height: 1000px; max-width: 1000px; */
            /* margin-left: 10%; */
            /* margin-right: 10%; */
            /* display: block; */
            /* justify-content: center; */
        /* } */

    /* iframe {max-height: 400px; max-width: 1000px;} */

#about  {
display: flex;
justify-content: center;
/* justify-content: space-around; */

}

    #atxt { 
        width: 40%;

    }
    
        table {
            border-collapse: collapse;
            border: solid 1px black;
            padding: 8px;
            background-color: lightgray;
            text-align: left;

        }

        th {border: solid 2px black;}
        tr {border: solid 2px black;}
        td {border: solid 2px black;}
